*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --simple-orange: #F9804B;
    --orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --dark-orange: #E47209;
    --yellow: #FFEE2E;
    --orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --black-blue: #333B41;
    --green: #4B9200;
    --frosted-glass-white: rgba(253, 253, 255, 0.52);
    --gray-light: #F1F3F2;
    --gray: #767474;
    --gray-smoky: #ABABAB;
    --red: #D31414;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: var(--simple-orange);
}

body{
    width: 100%;
}

/*header*/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    width: 100%;
    padding-left: 220px;
    padding-right: 220px;
}

.header-logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 52px;
    border: 1px solid white;
    border-radius: 2px;
}

.header-logo-text{
    color: white;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
}

.header-logo-text:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.header-logo-text > a:hover{
    color: white;
}

.logo-bamboo{
    position: absolute;
    bottom: 6px;
    left: 9px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    margin-right: auto;
    margin-left: 63px;
}

.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 58px;
}

.about-navbar{
    color: var(--simple-orange);
}

.designed-by{
    color: white;
}

/*watch-online*/
.watch-online{
    position: relative;
    height: 700px;
    background-image: url(../../assets/images/Giant\ Panda.png);
    background-position: bottom;
    background-size: cover;
}

.watch-online-slogan{
    top: 85px;
    right: 220px;
    position: absolute;
    width: 500px;
    height: 400px;
    text-align: center;
    color: white;
    z-index: 3;
}

.watch-online-slogan::before{
    top: -73px;
    right: 108px;
    content: "";
    position: absolute;
    width: 465px;
    height: 465px;
    background: var(--orange);
    border-radius: 250px;
    z-index: -1;
}

.slogan-yellow{
    color: var(--yellow)
}

.circle-button{
    border: 0;
    width: 298px;
    height: 54px;
    background: var(--orange);
    border-radius: 25px;
    color: white;
}

.circle-button:hover{
    background: var(--dark-orange);
    cursor: pointer;
}

.circle-button:active{
    background: var(--green);
}

.circle-button-watch{
    bottom: 100px;
    right: 319px;
    position: absolute;
}
/*backstage*/

.backstage{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*justify-content: center;*/
    margin-top: 140px;
    padding-left: 220px;
    padding-right: 200px;
    gap: 87px;
    flex-wrap: wrap;
}

.backstage-flower-photo{
    position: absolute;
    right: 0;
    top: -128px;
}

.backstage-text{
    color: var(--black-blue);
    display: flex;
    flex-direction: column;
    width: 465px;
    gap: 54px;
}

.backstage-text-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backstage-text-2{
    display: flex;
    flex-direction: column;
    gap: 31px;
}

/*animals-photos*/

.animals-photos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 98px;
}

.animals-photos-flower{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.animals-photos-flower-2{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.animals-photos-wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 368px));
    grid-template-rows: repeat(2, minmax(300px, 426px));
    gap: 20px 30px;
}

.animal-photo-wrapper{
    width: 368px;
    height: 424px;
    border: 1px solid orange;
    border-radius: 5px;
}

.animal-photo-wrapper > img {
    width: 366px;
    height: 362px;
    z-index: 5;
    transition: transform 0.3s;
}

.animal-photo-wrapper > img:hover{
    filter: brightness(50%);
    cursor: pointer;
    transform: scale(1.05);
}

.animal-photo-wrapper > img:hover ~ .animal-photo-text-wrapper{
    transform: translateY(-60px);
    color: white;
}

.animal-photo-text-wrapper:hover{
    transform: translateY(-60px);
    color: white;
}

.animal-photo-text-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    transition: 0.3s;
}

.animal-photo-icon{
    top: 3px;
    right: 11px;
    position: absolute;
}

.animal-photos-circle-button{
    margin-top: 80px;
}

.animals-photos-arrows-wrapper{
    position: relative;
    width: 100%;
}

.animal-photos-arrow-left{
    position: absolute;
    top: 400px;
    left: -82px;
    background-image: url(../../assets/icons/arrow-left.svg);
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.animal-photos-arrow-left:active{
    background-image: url(../../assets/icons/arrow-left-active.svg);
}

.animal-photos-arrow-right{
    position: absolute;
    top: 400px;
    right: -80px;
    background-image: url(../../assets/icons/arrow-right.svg);
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.animal-photos-arrow-right:active{
    background-image: url(../../assets/icons/arrow-right-active.svg);
}

/*pick-and-feed*/
.pick-and-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 71px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pick-and-feed-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 59px;
    width: 100%;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
}

.emergency-fond{
    text-decoration: underline #FE9013 2px;
}

.pick-and-feed-card > h2 {
    color: #FE9013;
}

.pick-and-feed-card > h3 {
    margin-top: 57px;
    margin-bottom: 40px;
    color: var(--black-blue);
}

.pick-and-feed-card p{
    align-self: flex-start;
    color: var(--black-blue);
}

.pick-and-feed-card > p.subtitle{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 106%;
}

.pick-and-feed-card > p.body-button{
    width: 106%;
    margin-bottom: 7px;
}

.pick-and-feed-card-sup-fund{
    width: 90%;
}

.how-it-works-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.how-it-works-item{
    display: flex;
    flex-direction: column;
    width: 168px;
    gap: 30px;
}

.how-it-works-item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border: 1px solid var(--simple-orange);
    border-radius: 5px;
}

.how-it-works-arrow{
    margin-top: 59px;
    background-image: url(../../assets/icons/how-it-works-arrow.svg);
    width: 69px;
    height: 36px;
}

.how-it-works-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

/*testimonials*/

.testimonials{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 220px 180px 220px;
}

.testimonials>h3{
    color: var(--black-blue);
}

.testimonials-wrapper{
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    gap: 29px;
}

.testimonials-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 391px;
    display: flex;
    flex-direction: column;
    background: var(--pink-gradient);
    border-radius: 20px;
}

.testimonials-inner-item{
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 387px;
    background: var(--gray-light);
    border-radius: 20px;
    padding: 9px 15px 19px 15px;
    gap: 10px;
}

.testimonials-item-person{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.testimonials-name-text{
    display: flex;
    flex-direction: column;
}

.testimonials-name-text > p.small-p {
    color: #BDBDBD;
}

.testimonials-inner-item > p {
    color: var(--gray);
    overflow-y: scroll;

}

.testimonials-slider-bar{
    margin-top: 19px;
    width: 599px;
    height: 8px;
    background: #F5F7F6;
    border-radius: 5px;
}

.testimonials-slider-bar-fill{
    width: 115px;
    height: 6px;
    background: #FE9013;
    cursor: pointer;
    transition: 0.2s;
}

.testimonials-slider-bar-fill:hover{
    transform: scale(1.05);
    background: #E47209;
}

.square-button{
    border: 0;
    width: 298px;
    height: 54px;
    background: var(--orange);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.square-button:hover{
    background: #E47209;
    color: white;
}

.square-button:active{
    background: var(--green);
}

.testimonials-button{
    margin-top: 31px;
    align-self: flex-start;
}

.testimonials-leaf-foto{
    position: absolute;
    bottom: -132px;
    right: 0;
    z-index: -1;
}

/*footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 443px;
    background-color: black;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 41px;
    padding-bottom: 50px;
}

.footer-left{
    display: flex;
    flex-direction: column;
}

.footer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}

.socials-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    gap: 10px;
}

.socials-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.socials-item > p {
    color: white;
}

.socials-item:hover{
    transform: scale(1.1);
}

.footer-center{
    margin-left: 101px;
    margin-right: 32px;
    display: flex;
    align-self: flex-end;
}

.footer-navbar{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 58px;
}

.about-footer{
    color: #E47209;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.subscribe-wrapper > p.subtitle {
    color: white;
}

.footer-right input{
    color: #BDBDBD;
    margin-top: 14px;
    margin-right: 6px;
    outline: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    border: 1px solid var(--simple-orange);
    width: 228px;
    height: 42px;
    padding: 10px;
    background-color: black;
}

.footer-right input:valid{
    border: 1px solid var(--green);
}

.footer-right input:invalid{
    border: 1px solid var(--red);
    color: var(--red);
}

.footer-right input:invalid ~ .submit-button{
    border: 1px solid var(--red);
    color: var(--red);
}

.submit-button{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    width: 129px;
    height: 42px;
    background-color: var(--gray-light);
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 5px;
}

.submit-button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.designed-by-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.designed-by-footer-text{
    align-self: flex-end;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 167%;
    font-weight: 100;
}