*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --simple-orange: #F9804B;
    --orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --dark-orange: #E47209;
    --yellow: #FFEE2E;
    --orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --black-blue: #333B41;
    --green: #4B9200;
    --frosted-glass-white: rgba(253, 253, 255, 0.52);
    --gray-light: #F1F3F2;
    --gray: #767474;
    --gray-smoky: #ABABAB;
    --red: #D31414;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: var(--simple-orange);
}

body{
    width: 100%;
}

/*header*/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 80px;
    width: 100%;
    padding-left: 220px;
    padding-right: 220px;
}

.header-logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 52px;
    border: 1px solid white;
    border-radius: 2px;
}

.header-logo-text{
    color: white;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
}

.header-logo-text:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.header-logo-text > a:hover{
    color: white;
}

.logo-bamboo{
    position: absolute;
    bottom: 6px;
    left: 9px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    margin-right: auto;
    margin-left: 63px;
}

.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 58px;
}

.about-navbar{
    color: var(--simple-orange);
}

.burger-menu{
    display: none;
    cursor: pointer;
}

.burger-menu:hover{
    transform: scale(1.1);
}

.designed-by{
    color: white;
}

/*watch-online*/
.watch-online{
    position: relative;
    height: 700px;
    background-image: url(../../assets/images/Giant\ Panda.png);
    background-position: bottom;
    background-size: cover;
}

.watch-online-slogan{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 80px;
    top: 85px;
    right: 220px;
    position: absolute;
    width: 500px;
    height: 400px;
    text-align: center;
    color: white;
    z-index: 3;
}

.watch-online-slogan::before{
    top: -73px;
    right: 108px;
    content: "";
    position: absolute;
    width: 465px;
    height: 465px;
    background: var(--orange);
    border-radius: 250px;
    z-index: -1;
}

.slogan-yellow{
    color: var(--yellow)
}

.circle-button{
    border: 0;
    width: 298px;
    height: 54px;
    background: var(--orange);
    border-radius: 25px;
    color: white;
}

.circle-button:hover{
    background: var(--dark-orange);
    cursor: pointer;
}

.circle-button:active{
    background: var(--green);
}

.circle-button-watch{
    bottom: 100px;
    right: 319px;
    position: absolute;
}
/*backstage*/

.backstage{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*justify-content: center;*/
    margin-top: 140px;
    padding-left: 220px;
    padding-right: 200px;
    gap: 87px;
}

.backstage-flower-photo{
    position: absolute;
    right: 0;
    top: -128px;
}

.backstage-text{
    color: var(--black-blue);
    display: flex;
    flex-direction: column;
    width: 465px;
    gap: 54px;
}

.backstage-text-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backstage-text-2{
    display: flex;
    flex-direction: column;
    gap: 31px;
}

/*animals-photos*/

.animals-photos{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 98px;
}

.animals-photos-flower{
    position: absolute;
    bottom: 0px;
    left: -588px;
}

.animals-photos-flower-2{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.animals-photos-wrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 368px));
    grid-template-rows: repeat(2, minmax(300px, 426px));
    gap: 20px 30px;
}

.animal-photo-wrapper{
    width: 368px;
    height: 424px;
    border: 1px solid orange;
    border-radius: 5px;
    overflow: hidden;
}

.animal-photo-wrapper > img {
    width: 366px;
    height: 362px;
    z-index: 5;
    transition: transform 0.3s;
}

.animal-photo-wrapper > img:hover{
    filter: brightness(50%);
    cursor: pointer;
    transform: scale(1.05);
}

.animal-photo-wrapper > img:hover ~ .animal-photo-text-wrapper{
    transform: translateY(-60px);
    color: white;
}

.animal-photo-text-wrapper:hover{
    transform: translateY(-60px);
    color: white;
}

.animal-photo-text-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    transition: 0.3s;
}

.animal-photo-icon{
    top: 3px;
    right: 11px;
    position: absolute;
}

.animal-photos-circle-button{
    margin-top: 80px;
}

.animals-photos-arrows-wrapper{
    position: relative;
    width: 100%;
}

.animal-photos-arrow-left{
    position: absolute;
    top: 400px;
    left: -82px;
    background-image: url(../../assets/icons/arrow-left.svg);
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.animal-photos-arrow-left:active{
    background-image: url(../../assets/icons/arrow-left-active.svg);
}

.animal-photos-arrow-right{
    position: absolute;
    top: 400px;
    right: -80px;
    background-image: url(../../assets/icons/arrow-right.svg);
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.animal-photos-arrow-right:active{
    background-image: url(../../assets/icons/arrow-right-active.svg);
}

/*pick-and-feed*/
.pick-and-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 71px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pick-and-feed-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 41px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 59px;
    width: 100%;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
}

.emergency-fond{
    text-decoration: underline #FE9013 2px;
}

.pick-and-feed-card > h2 {
    color: #FE9013;
}

.pick-and-feed-card > h3 {
    margin-top: 57px;
    margin-bottom: 40px;
    color: var(--black-blue);
}

.pick-and-feed-card p{
    align-self: flex-start;
    color: var(--black-blue);
}

.pick-and-feed-card > p.subtitle{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 106%;
}

.pick-and-feed-card > p.body-button{
    width: 106%;
    margin-bottom: 7px;
}

.pick-and-feed-card-sup-fund{
    width: 90%;
}

.how-it-works-wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.how-it-works-item{
    display: flex;
    flex-direction: column;
    width: 168px;
    gap: 30px;
}

.how-it-works-item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border: 1px solid var(--simple-orange);
    border-radius: 5px;
}

.how-it-works-arrow{
    margin-top: 59px;
    background-image: url(../../assets/icons/how-it-works-arrow.svg);
    width: 69px;
    height: 36px;
}

.how-it-works-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

/*testimonials*/

.testimonials{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 220px 180px 220px;
}

.testimonials>h3{
    color: var(--black-blue);
}

.testimonials-wrapper{
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    gap: 29px;
}

.testimonials-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 391px;
    display: flex;
    flex-direction: column;
    background: var(--pink-gradient);
    border-radius: 20px;
}

.testimonials-inner-item{
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 387px;
    background: var(--gray-light);
    border-radius: 20px;
    padding: 9px 15px 19px 15px;
    gap: 10px;
}

.testimonials-item-person{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.testimonials-name-text{
    display: flex;
    flex-direction: column;
}

.testimonials-name-text > p.small-p {
    color: #BDBDBD;
}

.testimonials-inner-item > p {
    color: var(--gray);
    overflow-y: scroll;

}

.testimonials-slider-bar-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    background: var(--pink-gradient);
    width: 601px;
    height: 10px;
    border-radius: 5px;
}

.testimonials-slider-bar{
    display: flex;
    align-items: center;
    width: 599px;
    height: 8px;
    background: #F5F7F6;
    border-radius: 5px;
}

.testimonials-slider-bar-fill{
    width: 115px;
    height: 6px;
    background: #FE9013;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}

.testimonials-slider-bar-fill:hover{
    transform: scale(1.05);
    background: #E47209;
}

.square-button{
    border: 0;
    width: 298px;
    height: 54px;
    background: var(--orange);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.square-button:hover{
    background: #E47209;
    color: white;
}

.square-button:active{
    background: var(--green);
}

.testimonials-button{
    margin-top: 31px;
    align-self: flex-start;
}

.testimonials-leaf-foto{
    position: absolute;
    bottom: -132px;
    right: 0;
    z-index: -1;
}

/*footer*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 443px;
    background-color: black;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 41px;
    padding-bottom: 50px;
}

.footer-left{
    display: flex;
    flex-direction: column;
}

.footer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}

.socials-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    gap: 10px;
}

.socials-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.socials-item > p {
    color: white;
}

.socials-item:hover{
    transform: scale(1.1);
}

.footer-center{
    margin-left: 101px;
    margin-right: 32px;
    display: flex;
    align-self: flex-end;
}

.footer-navbar{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 58px;
}

.about-footer{
    color: #E47209;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.subscribe-wrapper > p.subtitle {
    color: white;
}

.footer-right input{
    color: #BDBDBD;
    margin-top: 14px;
    margin-right: 6px;
    outline: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    border: 1px solid var(--simple-orange);
    width: 228px;
    height: 42px;
    padding: 10px;
    background-color: black;
}

.footer-right input:valid{
    border: 1px solid var(--green);
}

.footer-right input:invalid{
    border: 1px solid var(--red);
    color: var(--red);
}

.footer-right input:invalid ~ .submit-button{
    border: 1px solid var(--red);
    color: var(--red);
}

.submit-button{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    width: 129px;
    height: 42px;
    background-color: var(--gray-light);
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 5px;
}

.submit-button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.designed-by-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.designed-by-footer-text{
    align-self: flex-end;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 167%;
    font-weight: 100;
}

/*1599px*/

@media screen and (max-width: 1599px) {
    header{
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar{
        gap: 48px;
    }

    .watch-online{
        height: 584px;
        z-index: -1;
        bottom: 80px;
    }

    .watch-online-slogan{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 85px;
        line-height: 75%;
        top: 124px;
        right: 36px;
    }

    .watch-online-slogan::before{
        top: -55px;
        right: 141px;
        width: 367px;
        height: 367px;
    }

    .circle-button-watch{
        bottom: 47px;
        right: 137px;
    }

    .backstage{
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
        gap: 30px;
    }

    .backstage-flower-photo{
        display: none;
    }

    .man-bamboo-image{
        width: 455px;
        height: 408px;
        object-fit: cover;
    }

    .backstage-text{
        width: 454px;
        height: 427px;
        position: relative;
        top: -10px;
    }

    .animals-photos{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 139px;
        margin-top: 132px;
    }

    .animal-photo-wrapper{
        width: 296px;
        height: 354px;
    }

    .animal-photo-wrapper > img{
        width: 294px;
        height: 294px;
    }

    .animal-photos-arrow-left{
        top: 369px;
        left: 323px;
    }

    .animal-photos-arrow-right{
        top: 369px;
        right: 322px;
    }

    .animal-photos-circle-button {
        margin-top: 10px;
    }
    
    .animals-photos-flower {
        width: 387px;
        height: 202px;
        left: -193px;
    }

    .animals-photos-flower-2 {
        width: 241px;
        height: 180px;
        right:0;
    }

    .pick-and-feed{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .pick-and-feed-card {
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0px;
        height: 796px;
    }

    .pick-and-feed-card > p.subtitle {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 106%;
    }

    .pick-and-feed-card > p.body-button {
        width: 94%;
        margin-bottom: 7px;
    }

    .pick-and-feed-card-sup-fund {
        width: 102%;
    }

    .pick-and-feed-card > h3 {
        margin-top: 42px;
        margin-bottom: 35px;
    }

    .how-it-works-button {
        margin-top: 72px;
    }

    .testimonials{
      padding: 100px 30px 140px 30px;
    }

    .testimonials-wrapper {
        margin-top: 30px;
    }
    .testimonials-wrapper > .testimonials-item:nth-of-type(4){
        display: none;
    }

    .testimonials-item{
        width: 293px;
    }

    .testimonials-inner-item {
        width: 289px;
        border-radius: 19px;
        padding: 12px 15px 17px 14px;
    }

    .testimonials-slider-bar-outer {
        width: 392px;
    }

    .testimonials-slider-bar{
        width: 390px;
    }

    .testimonials-slider-bar-fill {
        width: 75px;
    }

    .testimonials-button{
        margin-top: 52px;
    }

    .testimonials-leaf-foto{
        width: 198px;
        height: 327px;
        bottom: -87px;
    }

    footer{
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
    }

    .footer-center{
        position: absolute;
        bottom: 50px;
        left: 323px;
        margin-left: 0px;
    }

    .footer-navbar {
        align-items: flex-end;
        gap: 48px;
    }

    .subscribe-wrapper{
        margin-right: 34px;
    }

    .designed-by-footer{
        margin-right: 5px;
    }
}

/*999px*/
@media screen and (max-width:999px) {
    main{
        overflow: hidden;
    }

    header{
        z-index: 2;
        position: fixed;
        padding-left: 20px;
        padding-right: 20px;
        height: 34px;
    }

    .header-logo{
        border: none;
        width: 47px;
        height: 29px;
    }

    .header-logo-text{
        font-size: 12px;
    }

    .logo-bamboo{
        width: 5px;
        height: 14px;
        bottom: 4px;
        left: 6px;
    }

    nav{
        display: none;
    }

    .designed-by{
        display: none;
    }

    .burger-menu{
        display: initial;
    }

    .watch-online{
        margin-top: 34px;
        height: 373px;
        bottom: 34px;
    }

    .watch-online-slogan{
        width: 255px;
        font-weight: 700;
        font-size: 54px;
        line-height: 75%;
        top: 84px;
        right: 16px;
    }

    .watch-online-slogan::before{
        top: -39px;
        right: 55px;
        width: 238px;
        height: 238px;
    }

    .circle-button-watch{
        bottom: 40px;
        right: 322px;
    }

    .backstage{
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 36px;
    }

    .man-bamboo-image{
        display: none;
    }

    .backstage-flower-photo{
        display: initial;
        width: 159px;
        height: 484px;
        right: -28px;
        top: -76px;
    }

    .backstage-text {
        width: 490px;;
        height: 367px;
        position: relative;
        top: -10px;
        gap: 29px;
    }

    .backstage-text-1 > h2{
        margin-left: 5px;
    }

    .backstage-text-2{
        gap: 19px;
    }

    .backstage-text-2 > .subtitle{
        margin-left: 5px;
    }

    .animals-photos{
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 70px;
        padding-bottom: 100px;
    }

    .animals-photos-wrapper{
        grid-template-columns: repeat(2, minmax(200px, 283px));
        grid-template-rows: repeat(2, minmax(300px, 426px));
        gap: 0px 30px;
    }

    .animal-photo-wrapper:nth-child(5), .animal-photo-wrapper:nth-child(6){
        display: none;
    }

    .animal-photo-wrapper{
        width: 287px;
        height: 330px;
    }

    .animal-photo-wrapper > img {
        width: 285px;
        height: 283px;
    }

    .animal-photo-text-wrapper{
        padding-left: 11px;
    }

    .animal-photo-text-wrapper > .body-button{
        font-weight: 500;
        font-size: 12.5px;
        line-height: 125%;
        font-style: normal;
    }

    .animal-photo-text-wrapper > .small-p{
        font-style: normal;
        font-weight: 300;
        font-size: 11.6901px;
        line-height: 120%;
    }

    .animal-photo-icon{
        transform: scale(0.9);
        top: -3px;
        right: 2px;
    }

    .animal-photos-arrow-right {
        top: 343px;
        right: 223px;
    }

    .animal-photos-arrow-left {
        top: 343px;
        left: 223px;
    }

    .animal-photos-circle-button {
        margin-top: -36px;
    }

    .animals-photos-flower {
        left: -252px;
    }

    .animals-photos-flower-2 {
        width: 175px;
        height: 129px;
        right: 0px;
    }

    .pick-and-feed{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pick-and-feed-card{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        height: 741px;
    }

    .pick-and-feed-card > h2 {
        font-size: 42px;
    }

    .pick-and-feed-card > p.subtitle{
        font-size: 22px;
    }

    .pick-and-feed-card > p.body-button {
        width: 100%;
    }

    .pick-and-feed-card > h3 {
        margin-bottom: 18px;
        margin-top: 28px;
    }

    .how-it-works-wrapper{
        position: relative;
        align-self: center;
        gap: 44px;
    }

    .how-it-works-arrow{
        position: absolute;
        background-image: url(../../assets/icons/green-arrow.svg);
        background-repeat: no-repeat;
        width: 91px;
        height: 32px;
        top: -75px;
        left: 137px;
    }

    .how-it-works-arrow-right{
        top: -76px;
        left: 345px;
    }

    .how-it-works-button {
        margin-top: 42px;
    }

    .testimonials {
        padding: 60px 20px 80px 20px;
    }

    .testimonials-wrapper{
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .testimonials-item{
        width: 100%;
        height: 109px;
    }

    .testimonials-inner-item{
        width: calc(100% - 2px);
        height: 107px;
        padding: 11px 15px 9px 11px;
    }
    .testimonials-inner-item > p {
        color: var(--gray);
        overflow-y: auto;
        padding-left: 5px;
        padding-top: 2px;
    }

    .testimonials-slider-bar-outer {
        display: none;
    }

    .testimonials-button{
        align-self: center;
        width: 240px;
        margin-top: 40px;
    }

    .testimonials-leaf-foto {
        width: 123px;
        height: 204px;
        bottom: -69px;
        right: -7px;
    }

    footer{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 282px;
    }

    footer .header-logo{
        width: 82px;
        height: 52px;
        border: 1px solid white;
    }

    footer .header-logo-text{
        font-size: 19px;
    }

    footer .logo-bamboo{
        width: initial;
        height: initial;
        bottom: 9px;
        left: 12px;
    }

    .footer-right{
        justify-content: flex-end;
    }

    .socials-wrapper{
        position: absolute;
        right: 20px;
        top: -34px;
        gap: 20px;
    }

    .socials-item p {
        display: none;
    }

    .subscribe-wrapper{
        display: none;
    }

    .footer-button{
        margin-top: 33px;
    }

    .footer-center{
        position: absolute;
        bottom: 11px;
        left: 22px;
        margin-left: 0px;
    }    

    .footer-navbar {
        gap: 36px;
    }
}

@media screen and (max-width: 639px) {
    header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .watch-online{
        height: 187px;
        bottom: 0px;
    }

    .watch-online-slogan{
        width: 130px;
        height: 110px;
        font-weight: 700;
        font-size: 28px;
        line-height: 75%;
        top: 41px;
        right: 9px;
    }    

    .watch-online-slogan::before{
        top: -19px;
        right: 28px;
        height: 119px;
        width: 119px;
    }

    .circle-button-watch {
        bottom: -74px;
        right: 10px;
    }

    .backstage{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 115px;
    }

    .backstage-text{
        gap: 18px;
    }

    .backstage-text-1 {
        gap: 8px;
    }

    .backstage-text-2{
        gap: 8px;
    }

    .backstage-text-2 > .subtitle {
        margin-left: 2px;
    }

    .backstage-text-1 > h2{
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin-left: 0;
    }

    .backstage-flower-photo {
        display: initial;
        width: 68px;
        height: 218px;
        right: -37px;
        top: -76px;
    }

    .animals-photos{
        padding-left: 17px;
        padding-right: 17px;
        margin-top: 50px;
        padding-bottom: 60px;
    }

    .animal-photo-wrapper {
        width: 283px;
        height: 332px;
    }

    .animals-photos-arrows-wrapper {
        display: none;
    }

    .animals-photos-wrapper {
        grid-template-columns: repeat(1, minmax(200px, 285px));
        grid-template-rows: none;
        gap: 20px 0px;
    }

    .animal-photo-text-wrapper .body-button, .animal-photo-text-wrapper .small-p{
        line-height: 136%;
    }

    .animal-photos-circle-button {
        margin-top: 20px;
    }

    .animals-photos-flower {
        width: 144px;
        height: 73px;
        left: -84px;
    }

    .animals-photos-flower-2 {
        width: 117px;
        height: 76px;
        right: -32px;
        bottom: -6px;
    }

    .pick-and-feed{
        padding-left: 10px;
        padding-right: 10px;
    }

    .pick-and-feed-card{
        padding-top: 21px;
        padding-left: 8px;
        padding-right: 8px;
        height: 1042px;
    }

    .pick-and-feed-card > h2{
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }

    .pick-and-feed-card > p.subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        margin-top: 10px;
        width: 99%;
    }

    .pick-and-feed-card > p.body-button{
        display: none;
    }

    .pick-and-feed-card-sup-fund{
        display: none;
    }

    .pick-and-feed-card > h3{
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        margin-top: 1px;
        margin-bottom: 20px;
    }

    .how-it-works-wrapper{
        width: initial;
        margin: 0 auto;
        flex-direction: column;
        gap: 40px;
    }

    .how-it-works-item{
        gap: 10px;
    }

    .how-it-works-item:nth-of-type(5){
        margin-top: -11px;
    }

    .how-it-works-button {
        margin-top: 39px;
    }

    .how-it-works-arrow{
        transform: rotate(90deg);
        top: 133px;
        left: 137px;
    }

    .how-it-works-arrow-right{
        top: 382px;
    }

    .testimonials{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 60px;
    }

    .testimonials > h3{
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }

    .testimonials{
        padding-top: 31px;
    }

    .testimonials-wrapper {
        margin-top: 19px;
    }

    .testimonials-inner-item{
        padding: 7px 15px 10px 9px;
    }

    .testimonials-button {
        margin-top: 30px;
    }

    .testimonials-leaf-foto {
        width: 71px;
        height: 110px;
        bottom: -46px;
        right: -14px;
        transform: rotate(-19deg);
    }

    footer{
        height: 334px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: initial;
    }

    .footer-left{
        align-items: center;
    }

    footer .header-logo{
        width: 128px;
        height: 23px;
        border: none;
    }

    footer .logo-bamboo{
        bottom: 6px;
        left: 71px;
    }

    .footer-button {
        margin-top: 30px;
        order: 3;
    }

    .socials-wrapper{
        margin-top: 30px;
        flex-direction: row;
        position: initial;
        order: 2;
        gap: 30px;
    }

    .footer-center {
        bottom: 19px;
        margin-right: 0px;
    }

    .footer-navbar {
        width: 100%;
        gap: 30px;
    }

    .designed-by-footer {
        position: absolute;
        right: 8px;
        bottom: 66px;
    }

    .designed-by-footer-text{
        font-weight: 100;
        font-size: 15px;
        line-height: 200%;
    }
}